# = raf2html.yaml.sample
# raf2html 設定ファイルのサンプルです
#
# == 使い方
# 自身のホームディレクトリに .raf2html.yaml というファイル名で設置して値を編集します
#   $ cp raf2html.yaml.sample ~/.raf2html.yaml
#   $ vi ~/.raf2html.yaml
#
# == 設定項目
# コンバート時にHTMLファイルに埋め込むスタイルシート(デフォルト:"")
#css: "~/raf2html.css"

# コンバート時にHTMLファイルに埋め込むjavascript(デフォルト:"")
#js: "~/raf2html.js"

# リファレンス記法の「.%」を変換する拡張子(デフォルト:.html)
#extension: ".html"

# 画像やビデオ、音声などを配置するディレクトリ(デフォルト:"")
#media_directory: "/usr/local/media"

# HTMLタグをカスタマイズするためのRubyファイル(デフォルト:"")
#custom_element: "/home/myname/raf2html/mycustom.rb"

# ドキュメントのフォーマット(デフォルト:ja)
#language: "ja"

# 目次(index)を作成するかどうか(デフォルト: true)
#index: true

# メタデータを作成するかどうか(デフォルト: true)
#metadata: true

# HTMLヘッダを出力"しない"かどうか(デフォルト: false)
#quiet: false
